.people-grid-block {
	@include grid-placement(full);
	@include component-margin;
	@extend %grid-columns;
	z-index: 1;

	$gap-mobile: 3.5%;
	$gap-desktop: 4.5%;

	&-inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: $gap-mobile;
		@include grid-placement(full);

		@include from($mobile-layout-switch) {
			@include grid-placement(medium);
			gap: $gap-desktop;
		}
	}

	&-person {
		margin-bottom: 24px;
		flex: 0 0 math.div((100% - (1 * $gap-mobile)), 2);

		@include from($mobile-layout-switch) {
			flex: 0 0 math.div((100% - (2 * $gap-desktop)), 3);
		}

		&.-has-bio {
			cursor: pointer;
		}

		&-image {
			aspect-ratio: 1 / 1;
			overflow: clip;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform $ts $te;
			}
		}

		&-content {
			text-align: center;
			position: relative;
		}

		&-title {
			position: relative;
			z-index: 10;
			font-family: $caslon;
			font-size: is-clamp(15pt, 24px, 1000px);
			letter-spacing: 0.05em;
			padding-top: 12px;
			margin-bottom: 0;

			.-show-bio & {
				z-index: 21;
			}
		}

		&-job_title {
			position: relative;
			z-index: 10;
			font-family: $caslon;
			font-size: is-clamp(13pt, 21px, 1000px);
			letter-spacing: 0.05em;
			font-style: italic;
			margin: 0;

			.-show-bio & {
				z-index: 21;
			}
		}

		&-bio {
			// child of -content
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
			background-color: color(gray, 200);
			text-align: left;
			padding: var(--bio-titles-height, 90px) 15px 20px 20px;
			visibility: hidden;
			opacity: 0;
			transition:
				opacity $ts $te,
				visibility $ts $te;

			p {
				font-size: is-clamp(12pt, 14pt, 1000px);
			}

			.-show-bio & {
				z-index: 20;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
