$button-pad-x: 24px;
$button-pad-y: 17px;

%button,
.button {
	appearance: none;
	backface-visibility: hidden;
	font-family: $arquitecta;
	text-transform: uppercase;
	border: 0;
	line-height: 1;
	background: color(gray, 900);
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	@extend %button-text;
	padding: $button-pad-y $button-pad-x;
	border-radius: $border-radius;
	transition: $ts $te;
	position: relative;
	cursor: pointer;

	&:hover {
		background: color(teal);
	}

	&:disabled,
	&[disabled],
	.disabled > &,
	&.disabled {
		cursor: not-allowed;
		pointer-events: none;

		&::before {
			display: none;
		}
	}
}

%button-outlined,
.button-outlined {
	@extend %button;
	background: none;
	color: color(black);
	border: 1px solid color(black);

	&:hover {
		background: color(black);
		color: white;
	}
}

main {
	button,
	input[type='submit'],
	input[type='reset'],
	input[type='button'] {
		@extend %button;
	}
}

.wp-block-button__link {
	@extend %button;
}

.is-style-outline {
	.wp-block-button__link {
		@extend %button-outlined;
	}
}
