@mixin font-import($name, $file, $weight, $style: normal) {
	@font-face {
		font-family: '#{ $name }';
		src: url('../fonts/#{ $file }.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
		font-display: swap;
	}
}

// @include font-import('Roboto', roboto-400, 400);
// @include font-import('Roboto', roboto-400i, 400, italic);

// from original adobe font kit
// font-family: linotype-didot, serif;
// font-weight: 400;
// font-style: normal;

// font-family: linotype-didot, serif;
// font-weight: 400;
// font-style: italic;

// font-family: ltc-caslon-pro, serif;
// font-weight: 400;
// font-style: normal;

// font-family: ltc-caslon-pro, serif;
// font-weight: 400;
// font-style: italic;

// font-family: ltc-caslon-pro, serif;
// font-weight: 700;
// font-style: normal;

// font-family: ltc-caslon-pro, serif;
// font-weight: 700;
// font-style: italic;

// from original monotype font kit

// font-family: ‘ArquitectaRegular’
// font-style:’Normal'
// font-stretch: 'Normal'

// font-family: ‘ArquitectaBook’
// font-style:’Normal'
// font-stretch: 'Normal'

// font-family: ‘ArquitectaBookItalic'
// font-style:’Italic'
// font-stretch: 'Italic'
