*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wp core (as of 4.9.5)
dist/wp/
dist/db-config.php
dist/index.php
dist/license.txt
dist/readme.html
dist/wp-activate.php
dist/wp-app.php
dist/wp-atom.php
dist/wp-blog-header.php
dist/wp-comments-post.php
dist/wp-commentsrss2.php
dist/wp-config-sample.php
dist/wp-cron.php
dist/wp-feed.php
dist/wp-links-opml.php
dist/wp-load.php
dist/wp-login.php
dist/wp-mail.php
dist/wp-rdf.php
dist/wp-rss.php
dist/wp-rss2.php
dist/wp-pass.php
dist/wp-register.php
dist/wp-settings.php
dist/wp-signup.php
dist/wp-trackback.php
dist/xmlrpc.php
dist/wp-admin
dist/wp-includes
dist/app/index.php
dist/app/themes/twentyten
dist/app/themes/twentyeleven
dist/app/themes/twentytwelve
dist/app/themes/twentythirteen
dist/app/themes/twentyfourteen
dist/app/themes/twentyfifteen
dist/app/themes/twentysixteen
dist/app/themes/twentyseventeen
dist/app/themes/twentyeighteen
dist/app/themes/twentynineteen
dist/app/themes/twentytwenty
dist/app/themes/twentytwentyone
dist/app/themes/twentytwentytwo
dist/app/themes/twentytwentythree
dist/app/themes/index.php
dist/app/plugins/index.php
dist/app/plugins/akismet*

# wordpress specific
dist/wp-config.php
dist/app/uploads/
dist/app/blogs.dir/
dist/app/upgrade/*
dist/app/backup-db/*
dist/app/advanced-cache.php
dist/app/wp-cache-config.php
dist/app/cache/*
dist/app/cache/supercache/*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi


# Chris Silich
.env
vendor
include
dist/app/plugins/hello.php
dist/app/plugins/*/
dist/app/mu-plugins/*/
service-worker.js
service-worker.js.map
workbox*
.htaccess
db-sync
*.sql
*.sql.gz
node_modules
.DS_Store
.idea
*.code-workspace

