*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# Ignore logs, certs
data/logs/nginx/*.log
certs/

# wp core (as of 4.9.5)
web/wp/
web/db-config.php
web/index.php
web/license.txt
web/readme.html
web/wp-activate.php
web/wp-app.php
web/wp-atom.php
web/wp-blog-header.php
web/wp-comments-post.php
web/wp-commentsrss2.php
web/wp-config-sample.php
web/wp-cron.php
web/wp-feed.php
web/wp-links-opml.php
web/wp-load.php
web/wp-login.php
web/wp-mail.php
web/wp-rdf.php
web/wp-rss.php
web/wp-rss2.php
web/wp-pass.php
web/wp-register.php
web/wp-settings.php
web/wp-signup.php
web/wp-trackback.php
web/xmlrpc.php
web/wp-admin
web/wp-includes
web/app/index.php
web/app/themes/twentyten
web/app/themes/twentyeleven
web/app/themes/twentytwelve
web/app/themes/twentythirteen
web/app/themes/twentyfourteen
web/app/themes/twentyfifteen
web/app/themes/twentysixteen
web/app/themes/twentyseventeen
web/app/themes/twentyeighteen
web/app/themes/twentynineteen
web/app/themes/twentytwenty
web/app/themes/twentytwentyone
web/app/themes/twentytwentytwo
web/app/themes/twentytwentythree
web/app/themes/index.php
web/app/plugins/index.php
web/app/plugins/akismet*

# wordpress specific
web/wp-config.php
web/app/uploads/
web/app/blogs.dir/
web/app/upgrade/*
web/app/backup-db/*
web/app/advanced-cache.php
web/app/wp-cache-config.php
web/app/cache/*
web/app/cache/supercache/*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi


# Chris Silich
.env
vendor
include
web/app/plugins/hello.php
web/app/plugins/*/
web/app/mu-plugins/*/
service-worker.js
service-worker.js.map
workbox*
.htaccess
db-sync
*.sql
*.sql.gz
node_modules
.DS_Store
.idea
*.code-workspace



data/log/nginx/access.log

data/log/nginx/error.log
