*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wp core (as of 4.9.5)
dist/db-config.php
dist/index.php
dist/license.txt
dist/readme.html
dist/wp-activate.php
dist/wp-app.php
dist/wp-atom.php
dist/wp-blog-header.php
dist/wp-comments-post.php
dist/wp-commentsrss2.php
dist/wp-config-sample.php
dist/wp-cron.php
dist/wp-feed.php
dist/wp-links-opml.php
dist/wp-load.php
dist/wp-login.php
dist/wp-mail.php
dist/wp-rdf.php
dist/wp-rss.php
dist/wp-rss2.php
dist/wp-pass.php
dist/wp-register.php
dist/wp-settings.php
dist/wp-signup.php
dist/wp-trackback.php
dist/xmlrpc.php
dist/wp-admin
dist/wp-includes
dist/wp-content/index.php
dist/wp-content/themes/twentyten
dist/wp-content/themes/twentyeleven
dist/wp-content/themes/twentytwelve
dist/wp-content/themes/twentythirteen
dist/wp-content/themes/twentyfourteen
dist/wp-content/themes/twentyfifteen
dist/wp-content/themes/twentysixteen
dist/wp-content/themes/twentyseventeen
dist/wp-content/themes/twentyeighteen
dist/wp-content/themes/twentynineteen
dist/wp-content/themes/twentytwenty
dist/wp-content/themes/twentytwentyone
dist/wp-content/themes/twentytwentytwo
dist/wp-content/themes/twentytwentythree
dist/wp-content/themes/index.php
dist/wp-content/plugins/index.php
dist/wp-content/plugins/akismet*

# wordpress specific
dist/wp-config.php
dist/wp-content/uploads/
dist/wp-content/blogs.dir/
dist/wp-content/upgrade/*
dist/wp-content/backup-db/*
dist/wp-content/advanced-cache.php
dist/wp-content/wp-cache-config.php
dist/wp-content/cache/*
dist/wp-content/cache/supercache/*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi


# Chris Silich
.env
vendor
include
dist/wp-content/plugins/hello.php
dist/wp-content/plugins/*/
dist/wp-content/mu-plugins/*/
service-worker.js
service-worker.js.map
workbox*
.htaccess
db-sync
*.sql
*.sql.gz
node_modules
.DS_Store
.idea
*.code-workspace

