/*
* Use this file to modify the Gutenberg editor itself,
* not the content of the website when its inside the editor.
* If you need to modify the way a site component or block looks
* when its in the editor, do so in the block's own SCSS file.
*/

// Gutenberg editor
@media (768px <= width <= 10000px) {
	.interface-interface-skeleton__sidebar {
		&:not(:empty) {
			width: 30%;
			min-width: 300px;
			max-width: 450px;
		}

		.interface-complementary-area__fill,
		.interface-complementary-area__fill > * {
			width: auto !important;
		}
	}
}

// Make the block popover appear above the block
.edit-post-visual-editor .components-popover.block-editor-block-popover {
	z-index: 50;
}

.edit-post-visual-editor .is-root-container {
	// Make the editor's content clip off decorative elements that stick out the sides
	overflow: clip;
}

// Kill the H1 button in the heading block
.components-popover {
	// WP <= 6.6
	div[aria-label='Change level'] {
		button:nth-child(1) {
			display: none;
		}
		button:nth-child(6) {
			display: none;
		}
	}
}

// Change the way the post title part of the editor looks,
// so it doesn't look like part of the post.
.edit-post-visual-editor__post-title-wrapper {
	background: #eee;
	margin: 0 !important;
	padding: 12px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 12px;

	h1 {
		flex: 1 1 auto;
		margin: 0;
		font-size: 1.25em;
		font-weight: 500;
		background: white;
		padding: 0.1em 0.5em;
		border-radius: 5px;
	}

	&::before {
		content: 'Post Title:';
		font-size: 1em;
		font-weight: normal;
		color: #999;

		.post-type-product & {
			content: 'Product Title:';
		}

		.post-type-gallery & {
			content: 'Gallery Title:';
		}

		.post-type-person & {
			content: 'Person Title:';
		}
	}
}
