.accolade-block {
	grid-column: 6 / 18;

	/*
	* Positioning Logic 
	*/

	@for $i from 0 through 25 {
		&[data-left='#{$i}'] {
			grid-column-start: #{$i};

			.wp-block-craftedsupply-accolade:has(&) {
				grid-column-start: #{$i};
			}
		}

		&[data-right='#{$i}'] {
			grid-column-end: #{$i};

			.wp-block-craftedsupply-accolade:has(&) {
				grid-column-end: #{$i};
			}
		}

		&[data-push='#{$i}'] {
			margin-top: 64px * $i;
			margin-top: math.div(100cqw, 24) * $i;

			.wp-block-craftedsupply-accolade:has(&) {
				margin-top: 64px;
				margin-top: math.div(100cqw, 24) * $i;

				.accolade-block {
					margin-top: 0;
				}
			}
		}

		&[data-span='#{$i}'] {
			grid-row: span $i;

			.wp-block-craftedsupply-accolade:has(&) {
				grid-row: span $i;
			}
		}
	}

	@include to(9) {
		grid-row: span 1;
		grid-column: 1 / -1 !important;
		margin-top: 32px !important;
	}

	/*
	* Styling 
	*/

	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 18px;
	background-position: center center;
	background-size: cover;
	color: white;
	text-shadow:
		0 0 10px rgb(0 0 0 / 0.25),
		0 0 40px rgb(0 0 0 / 0.5);

	&[data-text-color='black'] {
		color: black;
		text-shadow:
			0 0 10px rgb(255 255 255 / 0.25),
			0 0 40px rgb(255 255 255 / 0.5);
	}

	@include from(10) {
		padding: is-clamp(24pt, 48px, 800px);
	}

	&-attribution {
		text-align: center;
		margin-top: 24px;
	}

	&-text {
		text-align: left;
		font-family: $caslon;
		font-weight: 400;
		color: inherit;
		margin-top: 0;
		font-size: 16pt;
		text-wrap: balance;

		@include from(10) {
			font-size: is-clamp(20pt, 30pt, 800px);

			[data-font-size='20'] & {
				font-size: is-clamp(20pt * 0.66, 20pt, 800px);
			}
			[data-font-size='22.5'] & {
				font-size: is-clamp(22.5pt * 0.66, 22.5pt, 800px);
			}
			[data-font-size='25'] & {
				font-size: is-clamp(25pt * 0.66, 25pt, 800px);
			}
			[data-font-size='27.5'] & {
				font-size: is-clamp(27.5pt * 0.66, 27.5pt, 800px);
			}
			[data-font-size='30'] & {
				font-size: is-clamp(30pt * 0.66, 30pt, 800px);
			}

			.-layout-center & {
				text-align: center;
			}
		}
	}

	&-name,
	&-company {
		color: inherit;
		text-align: right;
		font-style: italic;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: rem-convert(12pt);

		@include from(10) {
			font-size: rem-convert(14pt);

			.-layout-center & {
				display: inline;
				text-align: center;

				.end-mdash {
					display: inline;
				}
			}
		}
	}

	&-company {
		color: inherit;
		text-transform: uppercase;
	}

	.end-mdash {
		display: none;
	}

	&.-layout-left {
		.comma,
		.end-mdash {
			display: none;
		}
	}
}
