.wysiwyg-block {
	@extend %grid-columns;
	@include grid-placement(full);
	@include component-margin;

	.is-selected &,
	.has-child-selected & {
		border: 1px dashed color(gray, 300);
		padding-top: rem-convert(20px);
		padding-bottom: rem-convert(20px);
	}

	&-inner {
		@include grid-placement(medium);
		position: relative;
		@include z(content);
		margin: 0 auto;
		width: 100%;

		.acf-innerblocks-container {
			:last-child {
				margin-bottom: 0;
			}
		}
	}
}
