.hamburger-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 300px;
	backdrop-filter: blur(3px) brightness(0.6);
	background-color: rgb(109 110 113 / 0.2);
	min-height: 100vh;
	@include z(floating);

	display: flex;
	flex-flow: column;
	padding: 160px 40px 20px 20px;
	translate: 110%;
	transition: $ts $te;

	max-height: 100vh;
	overflow-y: auto;

	&[aria-hidden='false'] {
		translate: 0%;
	}

	// Universal styling for all nav items
	// Style specific levels of nav item below
	ul {
		display: flex;
		flex-flow: column nowrap;
		gap: 12px;

		li {
			text-align: right;
			a {
				font-family: $nav-font;
				font-size: is-clamp(17pt, 20pt, 1200px);
				text-transform: uppercase;
				color: color(white);
				padding: 6px 0;
				text-decoration: none;
				letter-spacing: 0.1em;
			}
		}
	}

	// Styling for specific levels of nav items
	> ul {
		> li {
			> ul {
				gap: 8px;
				margin-top: 8px;
				margin-bottom: 8px;

				li {
					a {
						text-transform: none;
						font-size: rem-convert(16px);
					}
				}
			}
		}
	}
}
