.images-page-block {
	@include grid-placement(full);
	@include component-margin;

	@extend %grid-columns;

	picture {
		width: 100%;

		img {
			width: 100% !important;
		}
	}

	&.-layout-simple {
		picture {
			@include grid-placement(narrow);
		}
	}

	&.-layout-double {
		figure {
			@include grid-placement(wide);

			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			gap: perc(1, 21);
		}
	}

	&.-layout-quad {
		@include between(5, $mobile-layout-switch - 1) {
			grid-template-columns: repeat(16, 1fr);
		}

		picture {
			margin-bottom: 30px;
			grid-column: -2 / 2;
		}

		// top
		picture:nth-child(1) {
			@include from(5) {
				order: 1;
				grid-column: 3 / 14;
				margin-bottom: 30px;
			}

			@include from($mobile-layout-switch) {
				margin-bottom: 0px;
				grid-column: 11 / 20;
			}
		}

		// left
		picture:nth-child(2) {
			@include from(5) {
				order: 2;
				grid-column: 2 / 7;
				margin-bottom: 30px;
				grid-row: span 2;
			}

			@include from($mobile-layout-switch) {
				grid-row: span 2;
				margin-bottom: 0px;
				grid-column: 5 / 10;
				grid-row: 1 / span 2;
				// NOTE the denominators in these percentages are the number of columns the image takes in the grid
				// if you make the image wider, you'll need to adjust the denominator
				padding-top: perc(2, 5);
			}
		}

		// bottom
		picture:nth-child(3) {
			@include from(5) {
				order: 4;
				grid-column: 8 / 15;
			}
			
			@include from($mobile-layout-switch) {
				order: 3;
				margin-bottom: 0px;
				grid-column: 11 / 16;
				padding-top: perc(1, 5);
			}
		}

		// right
		picture:nth-child(4) {
			@include from(5) {
				order: 3;
				grid-column: 8 / 16;
				margin-bottom: 30px;
			}

			@include from($mobile-layout-switch) {
				order: 4;
				margin-bottom: 0px;
				grid-column: 17 / 24;
				padding-top: perc(1, 7);
			}
		}
	}
}
