@mixin heading-a {
	font-size: is-clamp(rem-convert(40px), rem-convert(54px), 1000px);
	line-height: 1.1;
	margin-top: rem-convert(48px);
	font-weight: 400;
	@include first-last-margin;
}

@mixin heading-b {
	font-size: is-clamp(rem-convert(36px), rem-convert(50px), 1000px);
	line-height: 1.1;
	margin-top: rem-convert(32px);
	font-weight: 400;
	@include first-last-margin;
}

@mixin heading-c {
	font-size: is-clamp(rem-convert(32px), rem-convert(46px), 1000px);
	line-height: 1.1;
	margin-top: rem-convert(24px);
	font-weight: 400;
	@include first-last-margin;
}

@mixin heading-d {
	font-size: is-clamp(rem-convert(28px), rem-convert(42px), 1000px);
	line-height: 1.1;
	margin-top: rem-convert(16px);
	font-weight: 400;
	@include first-last-margin;
}

@mixin heading-e {
	font-size: is-clamp(rem-convert(24px), rem-convert(36px), 1000px);
	line-height: 1.1;
	margin-top: rem-convert(16px);
	font-weight: 400;
	@include first-last-margin;
}
