@mixin p-large {
	@include p;
	font-size: is-clamp(rem-convert(22px), rem-convert(22px));
	@include line-height(32, 22);
}

@mixin p {
	font-size: rem-convert(18px);
	@include line-height(32, 18);
	font-weight: normal;
	color: color(gray, 600);
	margin: 0 0 rem-convert(16px);

	&.has-text-align-center {
		text-align: center;
	}
	&.has-text-align-right {
		text-align: right;
	}
	@include first-last-margin;
}

@mixin p-small {
	@include p;
	font-size: is-clamp(rem-convert(16px), rem-convert(16px));
	@include line-height(24, 16);
}
