.site-footer {
	@extend %grid-columns;
	padding: 40px 0;

	a {
		@extend %link-subtle;
		color: color(gray, 900);

		&:hover {
			color: color(teal, 500);
		}
	}

	&-inner {
		@include grid-placement;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		font-family: $nav-font;
		font-size: 13pt;
		align-items: flex-start;
		text-align: left;

		@include from(6) {
			flex-flow: row wrap;
			place-content: center center;
		}

		@include from(10) {
			gap: 40px;
			flex-flow: row;
		}

		> * {
			display: block;

			:first-child {
				margin-top: 0;
			}
		}
	}

	@include to(5) {
		// special case for mobile, column 1 we close the gap between the first 2 paragraphs
		&-col-1 {
			p {
				margin: 0;
			}
		}
	}

	@include from(6) {
		&-col-1,
		&-col-2,
		&-col-3,
		&-col-4 {
			flex: 1 1 276px;
			padding: 30px;
		}
		&-logo {
			flex: 1 1 100%;
			display: flex;
			justify-content: center;
			img {
				align-self: center;
				max-width: 300px;
			}
		}
	}

	@include from(8) {
		&-col-1,
		&-col-2,
		&-col-3,
		&-col-4 {
			flex: 1 1 332px;
			padding: 40px;
		}
	}

	@include from(10) {
		&-col-1,
		&-col-2,
		&-col-3,
		&-col-4,
		&-logo {
			padding: 0;
			flex: 1 1 20%;
		}

		&-col-1 {
			order: 1;
		}
		&-col-2 {
			order: 2;
		}
		&-logo {
			order: 3;
		}
		&-col-3 {
			order: 4;
			padding-left: linear-clamp(1024px, 1400px, 0px, 30px);
		}
		&-col-4 {
			order: 5;
		}
	}

	ul {
		margin-bottom: 1em;
	}
}
