{% import 'src/macros.twig' as macros %}

<div class="gallery-setup-block">
  <div class="gallery-setup-block-inner">
    {% include 'components/gallery-thumbnail/gallery-thumbnail.twig' with { component: fields } %} 
  </div>
</div>
