@include apply-typography {
	blockquote {
		margin: is-clamp(50px, 80px, 1200px) 0;
		padding: 0 0 0 rem-convert(24px);
		border-left: 2px solid color(teal);

		p {
			@include heading-e;

			&:not(:first-child) {
				margin-top: rem-convert(24px);
			}
		}
	}
}
