body {
	color: color(gray, 900);
}

@include apply-typography {
	p {
		@include p;
		font-family: $arquitecta;
		margin: 0 0 rem-convert(12px);

		&:last-child {
			margin-bottom: 0;
		}

		&.-large,
		&.is-style-large {
			@include p-large;
		}
		&.-small,
		&.is-style-small {
			@include p-small;
		}
	}
}
