<a 
	class="hamburger-button" 
	aria-expanded="false"
	type="button"
	aria-controls="hamburger-nav"
	aria-label="{{ __('Open Menu', 'craftedsupply') }}"
>
	<span class="line"></span>
	<span class="line"></span>
	<span class="line"></span>
	<span class="breadcrumb"></span>
</a>